<%- cache(trial_form) do -%>
<%= element_view_for(trial_form) do |el| -%>
<div class="image">
    <%= el.render :image %>
</div>
<div class="header">
    <%= el.render :header %>
</div>
<div class="text">
    <%= el.render :text %>
</div>
<%- end -%>
<%- end -%>